<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Administrator Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Administrator Login Page</h1>
    <form action="#" th:action="@{/register/add}" th:object="${register}" method="post">
        <p>Administrator Name: <input type="text" th:field="*{admin_name}" /></p>
        <p>Password: <input type="text" th:field="*{password}" /></p>
        <p><a href="StudentForm.html">
            <button>Sign In</button>
          </a> </p>
    </form>
</body>
</html>